<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy Application</title>
    <link href="../../static/style/main.css" rel="stylesheet" data-th-href="@{/style/main.css}"/>
    <script th:src="@{/resources/static/js/script.js}"></script>
</head>
<body>

<H1> Contact</H1>

<div>
    <nav class="main-nav" aria-label="Main menu">
        PAY MY BUDDY
        <ul id="navigation">

            <div class="top-nav"><a class="nav-link" href="index">Pay My Buddy</a></div>

            <li class="nav-item"><a class="nav-link" href="home">Home</a>
            <li class="nav-item"><a class="nav-link" href="transfert">Transfer</a>
            <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
            <li class="nav-item"><a class="nav-link" href="contact">Contact</a>
            <li class="nav-item"><a class="nav-link" href="logout">Log Off</a>

        </ul>

    </nav>


</div>
<div align="center">
    <div class="contact" align="center">
        <h2 align="center">Our contact</h2>
        <div align="center">
            <label> Téléphone : <h3> 09 07 67 47 89 </h3></label>
            <br>
            <label> Email : <h3> paymybuddy@email.com </h3></label>
            <br>
        </div>

    </div>

</div>


</body>
</html>