<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy Application</title>
    <link href="../../static/style/main.css" rel="stylesheet" data-th-href="@{/style/main.css}"/>
    <script th:src="@{/resources/static/js/script.js}"></script>
</head>
<body>

<h1> Transfert</h1>

<div>
    <nav class="main-nav" aria-label="Main menu">
        PAY MY BUDDY
        <ul id="navigation">

            <div class="top-nav"><a class="nav-link" href="index">Pay My Buddy</a></div>

            <li class="nav-item"><a class="nav-link" href="home">Home</a>
            <li class="nav-item"><a class="nav-link" href="transfert">Transfer</a>
            <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
            <li class="nav-item"><a class="nav-link" href="contact">Contact</a>
            <li class="nav-item"><a class="nav-link" href="logout">Log Off</a>

        </ul>

    </nav>

</div>
<div align="right">
    <div  align="center" class="form">
        <h1> Add Friend</h1>
        <form method="post" th:action="@{/transfert/newFriend}" th:object="${friendForm}">
            <label> Add friend</label>
            <select th:field="*{email}" >
                <option th:each="friend:${otherUsers}" th:value="${friend.email}" th:text="${friend.name}"></option>
            </select>
            <br>
            <input type="submit" value="Add friend">
            <br>
        </form>

    </div>

</div>


<div align="center">
    <div class="form">
        <h1>Transfert money form</h1>
        <form method="post" th:action="@{/transfert/}" th:object="${transactionForm}">
            <label>Transfert description :</label>
            <input id="description" PLACEHOLDER="Enter description" required type="text" th:field="*{description}"/>
            <br>
            <label>Amount to send :</label>
            <input id="amount" PLACEHOLDER="Enter Amount" required type="number" th:field="*{amount}"/>
            <br>
            <label>Select Friend : </label>

            <select th:field="*{friend1}" id="friend">
                <option th:each="friend:${user.friendList}" th:value="${friend.name}" th:text="${friend.name}"></option>
            </select>
            <br>
            <input type="submit" value="Transfert money">
        </form>
    </div>
</div>


<!--div class="form-group">
    <label for="role">Role</label>
    <select id="role" required th:field="*{role}" class="form-control ">
        <option value="" hidden>Select a role</option>
        <option th:each="role : ${T(com.springhow.examples.springboot.thymeleaf.domain.entities.Role).values()}"
                th:value="${role}"
                th:text="${role}">
        </option>
    </select>
</div-->
</body>
</html>